<h1>Enter your username and email to proceed to the Restaurant List </h1>

<div>{{#each users}}
{{this.name}}
{{this.email}}
{{/each}}</div>
{{!-- link new users/new --}}
<input type ='submit' value='restaurant index' onclick="window.location='/restaurants';"/>