
<div>{{#each users}}
{{this.name}}
{{this.email}}
 <div>
        <a href="/users/{{this._id}}/delete">Delete</a>
    </div>
{{/each}}</div>
{{!-- link new users/new --}}
<input type ='submit' value='restaurant index' onclick="window.location='/restaurants';"/>