<h1>hello</h1>
<form action="/users" method="POST">
    <label for="name">Name</label>
    <input type="text" name="name">

    <label for="user">Email</label>
    <input type="text" name="email">

    <input type="submit" value="Create">
</form>