<form action="/Restaurants/{{Restaurant._id}}?_method=PUT" method="POST">
    <label for="name">Name</label>
    <input type="text" name="name" value="{{Restaurant.name}}">

    <label for="Restaurants">BestOf</label>
    <input type="text" name="country" value="{{Restaurant.country}}">

    <input type="submit" value="Edit">
</form>