<form action="/companies" method="POST">
    <label for="name">Name</label>
    <input type="text" name="name">

    <label for="Restaurant">Best Of</label>
    <input type="text" name="BestOf">

    <input type="submit" value="Create">
</form>