<div>
    <h1>{{Restaurant.name}}</h1>
    <div>Neighborhood: {{Restaurant.neighborhood}}</div>

    <div>
        <a href="/Restaurants">Back to 
        Restaurants</a>
    </div>
    <div>
        <a href="/Restaurnts/{{restaurant._id}}/edit">Edit</a>
    </div>
    <div>
        <a href="/Restaurants/{{restaurant._id}}/delete">Delete</a>
    </div>
</div>