<div>
    <h1>{{Restaurant.name}}</h1>
    <div>Neighborhood: {{Restaurant.neighborhood}}</div>

    <div>
        <a href="/Restaurant">Back to 
        Restaurants</a>
    </div>
    <div>
        <a href="/Restaurnts/{{Restaurant._id}}/edit">Edit</a>
    </div>
    <div>
        <a href="/Restaurants/{{company._id}}/delete">Delete</a>
    </div>
</div>